{% extends "organizer/organizer_dash.html" %}
{% load static %}
{% block title %}Add Events{% endblock title %}
{% block events %}
    <div class=" text-7xl"><p class=" flex justify-center font-bold">ADD EVENT</p></div>
    <div class="table-container bg-white  drop-shadow-xs mx-7 my-10 border-b border-gray-100 text-gray-500 mb-2">
        
        <div class="">
            {% if messages %}
            {% for message in messages  %}
            <p class="m-20 bg-green-600 text-white font-bold px-2 py-1">{{message}}!</p>
            {% endfor %}
            {% endif %}
        </div>
        
        
        <div class="mx-auto w-2/3">
            <form method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
               <div class=" p-20 font-semibold">{{form}}</div>
               <div class="mb-10 mx-20 ">
                <button class=" px-2 py-1 bg-blue-200 text-blue-600 font-semibold" type="submit">Submit</button>
                
               <a href="{% url "catagories" %}" class="bg-amber-700 text-white px-2 py-1 font-semibold mx-10" >Add Catagory</a>
               </div>
        
        
            </form>
        </div>


    </div>
    
    
{% endblock events %}