
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock title %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/output.css' %}">
        
</head>
<body class="bg-gray-200"> 
    <header class="bg-white shadow-sm sticky z-50 top-0">
        <nav class="">
            <div class="mx-auto flex justify-between ">
                <div class="w-2/5 mx-7 mt-7 mb-1 font-bold text-3xl">Event Management</div>
                <div class="w-3/5 mt-4">
                    <div class="mx-7 flex justify-between font-semibold text-lg   p-2  text-blue-600">
                        <div class="p-1 bg-blue-200 rounded-md"><button><a href="{% url 'home' %}">Home</a></button></div>
                    <div class="px-3 py-1 bg-blue-200 rounded-md"><button><a href="{% url 'list' %}">All Events</a></button></div>
                    <div class="px-3 py-1 bg-blue-200 rounded-md"><button><a href="{% url 'adde' %}">Add Event</a></button></div>
                    <div class="px-3 py-1 bg-blue-200 rounded-md"><button><a href="{% url 'person' %}">Participant SignUp</a></button></div>
                </div>
                </div>
            </div>
        </nav>
    </header>


       {% comment "Home" %}{% endcomment %}
       {% block tasks %}

       {% endblock tasks %}
   
       {% comment "List" %}{% endcomment %}
       {% block users %}
       
       {% endblock users %}

       {% block detail %}

       {%endblock detail%}


       {% block catagory %}
       
       {% endblock catagory %}

       {% block events %}
       
       {% endblock events %}

       {% block participants %}
       
       {% endblock participants %}












    </main>
</body>
</html>