<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>User Profile</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 font-sans">

  <!-- Header -->
<header class="bg-white shadow-md">
    <nav class="container mx-auto px-6 py-3">
      <div class="flex justify-between items-center">
        <div class="text-xl font-bold text-gray-800"><a href="{%url 'home'%}">EventMaster</a></div>
        
        <div class="md:hidden">
          <button
            id="menu-toggle"
            class="text-gray-600 hover:text-gray-800 focus:outline-none"
          >
            <svg
              class="h-6 w-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16m-7 6h7"
              ></path>
            </svg>
          </button>
        </div>
        <div class="flex gap-1">
          <a
            href="{%url 'signin'%}"
            class="hidden md:block bg-blue-500 text-white px-4 py-2  hover:bg-blue-600 transition duration-300"
            >Sign In</a
          >
          <a
            href="{%url 'signup'%}"
            class="hidden md:block bg-blue-500 text-white px-4 py-2  hover:bg-blue-600 transition duration-300"
            >Sign Up</a
          >
        </div>
      </div>
      <div id="mobile-menu" class="md:hidden hidden mt-4">
        
        <a href="{%url 'signin'%}" class="block py-2 text-gray-600 hover:text-gray-800"
          >Sign In</a
        >
        <a href="{%url 'signup'%}" class="block py-2 text-gray-600 hover:text-gray-800"
          >Sign Up</a
        >
      </div>
    </nav>
  </header>
  <main>
        <div class=" text-7xl"><p class=" flex justify-center font-bold">Reset Password!</p></div>
    <div class="table-container bg-white  drop-shadow-xs mx-7 my-10 border-b border-gray-100 text-gray-500 mb-2">
    
     <div class="">
        {% if messages %}
        {% for message in messages  %}
        <div class="m-20  text-white font-bold px-2 py-1 {% if message.tags == 'success'%} bg-red-500{% endif %}">{{message}}</div>
        
        {% endfor %}
        
        {% endif %} 
        
        </div>
    
        

    <div class="mx-auto w-2/3">
       
        
        <form method='POST'>
            {% csrf_token %}
            <div class=" p-20 font-semibold">
          {% for field in form %}
           <p>
            <label for="{{field.id_for_label}}" class="text-black">{{field.label}}</label>
            {{field}}
           
          
        </p>
            {% endfor %}
        
       
           {% comment %} <div class=" p-20 font-semibold">{{form}}</div> {% endcomment %}
          
            <button class="mx-auto mt-2 px-2 py-1 bg-blue-200 text-blue-600 text-2xl font-semibold" type="submit">Submit</button>
           
           </div>
    
    
        </form>
    </div>
  </main>
</body>
