<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EventMaster - Efficient Event Management</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="font-sans bg-gray-200">
    {% if request.user.is_authenticated %}
    {% include "loged_nav.html" %}
    {% else %}
    {% include "non_loged_nav.html" %}
    {% endif %}
    <main>
     {% block content %}
     
     {% endblock content %}
    </main>

    

    <script>
      document
        .getElementById("menu-toggle")
        .addEventListener("click", function () {
          document.getElementById("mobile-menu").classList.toggle("hidden");
        });

      document
        .getElementById("user-menu-button")
        .addEventListener("click", function () {
          document.getElementById("user-menu").classList.toggle("hidden");
        });

     
      window.addEventListener("click", function (e) {
        if (!document.getElementById("user-menu-button").contains(e.target)) {
          document.getElementById("user-menu").classList.add("hidden");
        }
      });
    </script>
  </body>
</html>











