<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-gray-200">
    <div class="table-container flex justify-center text-center">
        <h1 class="text-7xl mt-20 bg-red-500  drop-shadow-xl border-b p-4 border-gray-100 text-white rounded-lg">Access Denied!</h1>
    </div>
</body>
</html>